/dts-v1/;
/plugin/;
/ {
	compatible = "brcm,bcm2711";

        fragment@0 {
                target = <&spidev0>;
                __overlay__ {
                        status = "disabled";
                };
        };

        fragment@1 {
                target = <&spidev1>;
                __overlay__ {
                        status = "disabled";
                };
        };

        fragment@2 {
                target = <&spi0>;
                __overlay__ {
                        status = "okay";
                        #address-cells = <1>;
                        #size-cells = <0>;

                        spi_protocol_device@0 {
                                compatible = "mycomp,spi-protocol-device";
                                reg = <0x0>;
                                spi-max-frequency = <1000000>;
                                spi-bits-per-word = <8>;
				mycomp,busy-gpios = <&gpio 27 0>; 
				mycomp,ready-gpios = <&gpio 22 0>; 
                                status = "okay";
                        };
                };
        };

};
